{% extends "base.html" %}
{% load static %}

{% block title %}
Kassandra's Home
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'home/home.css' %}">
{% endblock %}

{% block content %}
<div class="welcome">
  <h3>Kassandra's prophecy for Covid19</h3>
  <p>
    This is the website where wadsfa asdf asdfas dfas fads fad fs
    <dl>
      <dt>Predict</dt>
      <dd>adsfasdf asfas dfa dfa</dd>
      <dt>Prescribe</dt>
      <dd>adsfasdf asfas dfa dfa</dd>
    </dl>
  </p>
</div>
{% endblock %}

{% block year %}
{{ year }}
{% endblock %}
