{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Default Title{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">    
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'global.css' %}">
    {% block stylesheet %}{% endblock %}

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'global.js' %}"></script>
    {% block javascript %}{% endblock %}



    
  </head>
  <body style="background: url('{% static 'notebook_pattern.jpg' %}');background-repeat: repeat;">
    <header class="header_footer">

      <nav class="navbar navbar-expand-lg">
	<a class="navbar-brand" href="#">
	  <img src="{% static 'round_192x192.png' %}" height="100" width="100" class="d-inline-block" alt=""> Kassandra's response:
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	  <ul class="navbar-nav mr-auto">
	    <li class="nav-item">
              <a class="nav-link" href="/home">Home</a>
	    </li>
	    <li class="nav-item">
              <a class="nav-link" href="/predict">Predict</a>
	    </li>
	    <li class="nav-item">
              <a class="nav-link" href="/prescribe">Prescribe</a>
	    </li>
	    <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
	    </li>
	  </ul>
	</div>
      </nav>

      
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer class="header_footer">
      <p>
	Copyright: <a href="">Giorgos Vernardos</a> {% block year %}{% endblock %}
      </p>
    </footer>
  </body>
</html>
