{% extends "base.html" %}
{% load static %}


{% block stylesheet %}
<link rel="stylesheet"  href="{% static 'predict/predict.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script type="text/javascript" src="{% static 'predict/predict.js' %}"></script>
{% endblock %}


{% block title %}
Kassandra Predictor
{% endblock %}

{% block content %}
<form form-url="{% url 'test_predictor' %}" method="post">
  {% csrf_token %}
  <table>
    <tr>
      <td>
	<h3>Predictor</h3>
	<div class="pred_div">
	  <table id="first_form">
	    {{ form1.as_table }}
	  </table>
	</div>
      </td>
      <td>
	<canvas id="myChart" width="1000px" height="600px"></canvas>
      </td>
      <td>
	<div class="ips_div">
	  <h3>Intervention Plans</h3>
	  <table id="table_buttons">
	    <tr>
	      <td><button type="button" class="my_button ips_buttons" id="but_maxout">Max all</button></td>
	      <td><button type="button" class="my_button ips_buttons" id="but_min">None</button></td>
	      <td><button type="button" class="my_button ips_buttons" id="but_random">Random</button></td>
	    </tr>
	    <tr><td colspan="3"><button type="button" class="my_button ips_buttons" id="but_hist">Latest enforced</button></td></tr>
	  </table>
	  <table id="myip_table">
	    {{ formset.as_table }}
	  </table>
	</div>
      </td>
    </tr>
  </table>
  <button type="button" class="my_button" id="but_predict">Predict</button>
</form>
{% endblock %}


{% block year %}
{{ year }}
{% endblock %}
